@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;600;700&family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');

/*general font-sizng and such*/

*{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.sub-heading{
    font-size: 3.2rem;
    line-height: 35px;
}

p{
    font-size: 2.4rem;
}


h1{
    text-transform: uppercase;
    font-size: 4.2rem;
    font-weight: bold;
    margin: 30px 0;
}

a{
    color: black;  
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 3.1rem;
}

a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: black;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.long-par{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    text-align: justify;
    line-height: 50px;
}

.logo-timmyworks img{
    width: 250px;
}

/* mini bio */
.mini-bio{
    text-align: center;
}

.mini-bio img{
  max-width: 325px;
    border-radius: 50%;
    
}


/* mini nav */
.mini-nav{
    margin: 50px 0;
}

.mini-nav ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}

.mini-nav ul li{
    text-transform: uppercase;
    list-style-type: none;
    
}

/* footer */

footer{
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer p{
    margin: 100px 75px auto 0;
    font-size: 1.6rem;
    font-weight: bold;
}

footer .contacts{
    display: flex;
}

footer .contacts img{
    width: 175px;
    padding-top: 10px;
}

footer .contacts .contacts-info{
    margin-top: auto;
    margin-bottom: auto;
}

footer .contacts .contacts-info h2{
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .contacts .contacts-info .cont-logo{
    display: flex;
    justify-content: space-between;
}

footer .contacts .contacts-info .cont-logo img{
    padding: 0;
    width: 27.5px;
    
}

/* About Me - Page 2 */

/* fix-nav */
.fix-nav{
    background-color: black;
    color: white;
}
.fix-nav .navbar-brand img{
    width: 125px;
    
}

.fix-nav ul{
    margin: 0 35px 0 0;
    padding: 0;
    display: flex;
    
}

.fix-nav ul li{
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 30px;
}

.fix-nav ul li a{
    color: white;
    font-size: 2.1rem;
    
}

.fix-nav ul li a:hover{
    background-color: white;
    border-radius: 2px;
    color: black;
}

.container-xl{
    margin-top: 225px;
}

.container-xl .bio{
    display: flex;
}

.container-xl .bio img{
    max-width: 40%;
}

.container-xl .bio .text{
    margin-left: 75px;
}

.bio .text h1{
    margin: 10px 0;
}

.bio .text .long-par{
    margin-top: 50px;
    line-height: 60px;
}

/* edu */
.card-text{
    text-align: center;
    font-weight: bold;
}

.year {
    text-align: center;
}

/* experience */
.exp {
    display: flex;
    margin-bottom: 30px;
}

.exp img {
    width: 150px;
    margin-bottom: 150px;
}

.exp-content {
    margin-left: 30px;
}

.exp-content .sub-heading{
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 30px;
}

/* skill */
.list-skill{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.list-skill .card{
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    margin: 20px 0 50px 0;
}

.list-skill .sub-heading{
    font-weight: bold;
    margin-bottom: 30px;
}

/*other*/
.yoy{
    display: flex;
}

.yoy img{
    max-width: 375px;
}


@media only screen and (max-width: 1096px) {
    .container-xl .bio img{
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    *{
        font-size: 8px;
    }

    h1{
        text-align: center;
    }

    .fix-nav ul{ 
        margin: 0 20px 0 0;
        padding: 0;
    }

    .fix-nav ul li{
        margin-left: 15px;
    }


    .fix-nav ul li a{
        font-size: 1.75rem;
    }

    /*biopart*/

    .container-xl .bio{
        display: inline-block;
        text-align: center;
    }
    
    .container-xl .bio img{
        max-width: 70%;
    }
    
    .bio .text h1{
        margin: 10px 0;
    }
    
    .bio .text .long-par{
        margin-top: 50px;
        line-height: 50px;
    }

    .container-xl .bio .text{
        margin: 0 25px;
    }

    /* expart */

    .exp {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 0;
        text-align: center;
        line-height: 50px;
    }
    
    .exp img {
        width: 100px;
        margin: 0;
    }
    
    .exp-content {
        margin: 0 25px;
        
    }
    
    .exp-content .sub-heading{
        font-weight: bold;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    /*other*/

    .yoy{
        display: inline-block;
    }

    .yoy .long-par{
        margin: 0 15px 0 15px;
    }

    .yoy .bean img{
        display: block;
        width: 50%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}

